@model IEnumerable<DomainModels.Models.OperationResult>

@{
    ViewBag.Title = "Index";
    var message = ViewBag.Message as string;
}

@if (!string.IsNullOrWhiteSpace(message))
{
    <p class="bg-warning">@(message)</p>
}

@if (Model == null)
{
    return;
}

<hr />

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Operation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.InputData)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Result)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecutionTime)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExecutionDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Operation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.InputData)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Result)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutionTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ExecutionDate)
            </td>
            <td>
                <strong id="likeinfo_@item.Id">@(item.IsLiked ? "Операция сохранена" : "Операция не сохранена")</strong>

                <button type="button" class="btn btn-danger" onclick="like(this, @item.Id)">
                    @if (item.IsLiked)
                    {
                        //нажали лайк
                        @:Dislike <span class="glyphicon glyphicon-remove-circle" aria-hidden="true"></span>
                    }
                    else
                    {
                        //нажали дизлайк
                        @:Like <span class="glyphicon glyphicon-ok-circle" aria-hidden="true"></span>
                    }
                </button>
            </td>
        </tr>
    }

</table>

<script type="text/javascript">
    function like(elem, id) {
        $.ajax({
            type: "POST",
            url: "@Url.Action("Like")",
            data: { "id": id },
            success: function (msg) {
                if (msg.Success) {
                    $(elem).html(msg.Name);
                    if (msg.Name == "Like") {
                        $('#likeinfo_' + id).html("Операция не сохранена");
                        $(elem).html(msg.Name + "<span class='glyphicon glyphicon-ok-circle'aria-hidden='true'></span> ");
                    }
                    else {
                        $('#likeinfo_' + id).html("Операция сохранена");
                        $(elem).html(msg.Name + "<span class='glyphicon glyphicon-remove-circle'aria-hidden='true'></span> ");
                    }
                } else {
                    alert(msg.Error);
                }
            }
        });
    }
</script>