@model DomainModels.Models.OperationResult

@{
    ViewBag.Title = "ViewOperResults";
}

<h2>ViewOperResults</h2>

<div>
    <h4>OperationResult</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Uid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Uid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AuthorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AuthorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OperationId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OperationId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.InputData)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.InputData)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Result)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Result)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExecutionTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExecutionTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ExecutionDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ExecutionDate)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
